*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
}
    .w{
        width:990px;
        margin: 0 auto;

    }
    .z{
        background: #01c500;

    }
.logo {
    position: relative;
    width: 300px;
    margin: 10px 0;
    height: 60px;
    float: left;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #E4393C;
    text-decoration: underline;
}
.logo b {
    display: block;
    width: 110px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/css/i/l-icon.png) no-repeat;
}
.q-link {
    position: relative;
    color: #999;
    float: right;
    top: 52px;
}
.q-link b {
    display: inline-block;
    width: 18px;
    height: 14px;
    margin: 0 5px;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/css/i/q-icon.png) no-repeat;
    overflow: hidden;
    vertical-align: middle;
}
.content{
   clear: both;


}
.content .tips-wrapper {
    min-width: 100px;
    background: #fff8f0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}
.content .tips-wrapper .cont-wrapper {
    display: inline-block;
    width: 90%;
}
.content .tips-wrapper .icon-tips {
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/icon-tips.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.content .tips-wrapper .tips-inner p {
    vertical-align: middle;
    color: #999;
    font-size: 12px;
    display: inline-block;
}
.login-wrap {
    position: relative;
    height: 475px;
    margin:10px 0 20px 0;
    z-index: 5;
    background: #01c500;
}
.content .login-wrap {
    margin-top: 0;
}
.login-wrap{


}
.login-form {
    position:absolute;
    z-index: 4;
    background: #fff;
    overflow: visible;
    width: 346px;
    margin-left:663px;
}
.login-wrap .login-form {
    float: right;
    top: 10px;
}
tip {

    background: #fff8f0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.login-form .login-tab {
    height: 54px;
    font-size: 18px;
    font-family: "microsoft yahei";
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #fff;
    display: block;
}

.login-form .login-tab a {
    width: 99%;
    height: 18px;
    position: absolute;
    left: 0;
    top: 18px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
.login-form .login-tab-l, .login-form .login-tab-r {
    width: 173px;
}
.login-form .login-tab-r {
    right: 0;
}
.login-form .login-tab a.checked, .login-form .login-tab a:hover {
    font-weight: 700;
    color: #e4393c;
}
.login-form .login-box {
    width: 306px;
    padding: 20px;

}
.login-form .login-box .tab-h {
    height: 35px;
}
.login-form .msg-wrap {
    min-height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto!important;
}
.login-label {
    position: absolute;
    z-index: 3;
    top: 148px;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/pwd-icons-new.png) no-repeat;

}
.ser{
    margin-bottom: 20px;
}
.ser-1{
    width: 296px;
    height: 36px;
    margin-left:38px;
}
.en {
    position: absolute;
    z-index: 3;
    top: 204px;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/pwd-icons-new.png) no-repeat;
    background-position: -48px 0;
}
.en-1{
    width: 296px;
    height: 36px;
    margin-left:38px;
}
.entry{
    margin-bottom: 20px;
}
.safe{
    float: right;
    margin-right: 8px;
    font-size: 14px;
}
.btn{
    width: 334px;
    height: 34px;
    background: red;
    color:#ffffff;
    margin-top: 20px;
    float: left;
    text-align: center;
    line-height: 34px;
    font-size: 20px;
    margin-bottom: 30px;
}
.coagent {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-top: 1px solid #f4f4f4;
    height: auto;
    background-color: #fcfcfc;
    overflow:hidden;
}
 ul {
    list-style: none;
     display:inline-block;
     position: relative;

}
 li {
    float: left;
     display: inline-block;
     text-align: -webkit-match-parent;
}
b {
    font-weight: bold;
}
pdl {
    display: inline-block;
    position: relative;
    padding-left: 24px;
}
.qq{
    width: 19px;
    height: 18px;
    display: block;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/QQ-weixin.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    float: left;
    left: 0;
    text-align: center;
    line-height: 18px;
    top:16px

}
.q{
    display: inline-block;
    margin-left: 26px;
}
.line{
    display:block;
    color: #ccc;
    padding: 0 10px;
    position: relative;
    margin-left:54px
}
.wei{
    width: 65px;
    height: 18px;
    display: block;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/QQ-weixin.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    float: left;
    left: 86px;
    top: 16px;
    background-position: -20px 0;
    display: inline-block;
}
.wei1{
  margin-left: 30px;
    top:-14px;
    position: absolute;
}
.r{
    float:left;
}
.regist{
    color: #b61d1d;
    font-size: 14px;
}
.soon{
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/pwd-icons-new.png) -104px -75px no-repeat;
    vertical-align: middle;

    margin-left: 150px;
}
.bg{



}


